section {
  padding-top: 30px;
}

#social i {
  width: 35px;
  text-align: center;
  display: inline-block;
}

.container {
  max-width: 730px;
}

.jumbotron {
  min-height: 246px;
}

.jumbotron h1 {
  display: block;
  margin: 10px;
}

.jumbotron h1 small {
  display: block;
}